@font-face {
    font-family: 'Kontora Medium';
    src: url('../fonts/KontoraMedium.otf');
}
@font-face {
    font-family: 'Kontora Regular';
    src: url('../fonts/KontoraRegular.otf');
}
@font-face {
    font-family: 'Kontora Light';
    src: url('../fonts/KontoraLight.otf');
}
@font-face {
    font-family: 'Kontora Bold';
    src: url('../fonts/KontoraBold.otf');
}
@font-face {
    font-family: 'Kontora ExtraBold';
    src: url('../fonts/KontoraExtraBold.otf');
}
@font-face {
    font-family: 'Kontora ExtraBlack';
    src: url('../fonts/KontoraExtraBlack.otf');
}
